@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
html body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-brand {
    font-size: 30px;
    padding-left: 20px;
}

.nav-item,
.social_box {
    text-align: center;
    padding: 10px;
}

.carousel {
    margin: -30px 0 0 0;
}

.social_box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 15px;
    margin-left: 5px;
    background-color: #2f2519;
    text-decoration: none;
}

.social_box a:hover {
    color: rgba(255, 166, 0, 0.795);
    background-color: white;
    box-shadow: 2px 2px 9px 5px rgba(243, 223, 196, 0.76);
}


/* -----------  funiture ---------- */

.box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image {
    text-align: center;
}

.image img {
    width: 300px;
    height: 400px;
    object-fit: cover;
}


/* --------- carousel ---------- */

section {
    margin-top: 50px;
}

.container {
    margin-top: 10%;
}

.img-area img {
    width: 300px;
    height: 400px;
    object-fit: contain;
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
}

.carousel-indicators button {
    background-color: #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.carousel-indicators :active {
    background: black;
}


/* ------------- */

.wsite-multicol {
    position: fixed;
}

.wsite-multicol-col {
    vertical-align: top;
}

td {
    width: 33.33%;
    padding: 0 10px;
}

.wsite-image {
    position: relative;
}

.wsite-image img {
    width: auto;
    max-width: 100%;
}


/* ------- shop index -------- */

.shop_section .image-box img {
    width: 100%;
}

.shop_section .box {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 45px;
}

.box {
    justify-content: center;
    margin: 10px;
}

.shop_section .image-box img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.heading_container h1 {
    text-align: center;
    padding: 40px;
}

.shop_section .box .detail-box {
    padding: 20px 0 0;
}


/* --------- tablex section */

.tables_section .image-box img {
    width: 100%;
    object-fit: contain;
}

.tables_section .box {
    padding: 5px;
}

.tables_section .box .image-box p {
    padding: 15px;
    text-align: center;
}


/* -------- footer --------- */

.footer_detail {
    padding: 30px;
    text-align: center;
}

hr.footer {
    border: none;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.527);
}


/* ---- dropdown shop ------ */

.dropdown-toggle::after {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}