@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
html body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    height: 100%;
    margin: 0;
    background-color: #ffffff;
    background-position: center;
    background-size: cover;
    background-repeat: top;
}

.image-contact {
    width: 100%;
}

.image-contact img {
    width: 90%;
    height: auto;
    margin: 0 0 0 50px;
}

.image img {
    background-size: cover;
    background-position: center center;
}

.btn {
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    margin: -20px 0 0;
}

.form-group {
    padding: 5px;
}

h2 {
    text-align: center;
    padding: 50px 0 50px;
    color: rgb(34, 34, 34);
    font-weight: bolder;
    text-transform: uppercase;
}