@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
html body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar-brand {
    font-size: 30px;
    padding-left: 20px;
    font-weight: ;
}

.nav-item,
.social_box {
    text-align: center;
    padding: 10px;
}

.carousel {
    margin: -30px 0 0 0;
}

.social_box a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 15px;
    margin-left: 5px;
    background-color: #2f2519;
    text-decoration: none;
}

.social_box a:hover {
    color: rgba(255, 166, 0, 0.795);
    background-color: white;
    box-shadow: 2px 2px 9px 5px rgba(243, 223, 196, 0.76);
}

.carousel-item img {
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 30rem;
    z-index: -1;
}

.carousel-caption {
    background-color: rgba(43, 39, 39, 0.651);
    color: whitesmoke;
    border-radius: 4px;
}

.carousel-caption p {
    color: white;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}


/* service content */

.service_section .img-box img {
    width: 100%;
}

.service_section .box .detail-box {
    background-color: whitesmoke;
    min-height: 156px;
}

.service_section .box {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 45px;
    box-shadow: 2px 2px 9px 5px rgba(106, 103, 98, 0.35);
}

.box {
    justify-content: center;
    margin: 10px;
}

.service_section .box .b3 {
    flex-direction: column-reverse;
}

.heading_container h2 {
    text-align: center;
    padding-top: 40px;
}


/* Portfolio */

.img-box img {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.MultiCarousel {
    float: left;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    position: relative;
}

.MultiCarousel .MultiCarousel-inner {
    transition: 1s ease all;
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item {
    float: left;
}

.MultiCarousel .MultiCarousel-inner .item>div {
    text-align: center;
    padding: 10px;
    margin: 10px;
    background: #f1f1f1;
    color: #666;
}

.MultiCarousel .leftLst,
.MultiCarousel .rightLst {
    position: absolute;
    border-radius: 50%;
    top: calc(50% - 20px);
}

.MultiCarousel .leftLst {
    left: 0;
}

.MultiCarousel .rightLst {
    right: 0;
}

.MultiCarousel .leftLst.over,
.MultiCarousel .rightLst.over {
    pointer-events: none;
    background: #ccc;
}


/* --------- carousel ---------- */

.slider {
    margin-top: 100px;
}

.img-area {
    text-align: center;
}

.img-area img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
}

.carousel-indicators button {
    background-color: #000;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.carousel-indicators :active {
    background: black;
}

.btn span {
    color: gray;
}

.btn span:hover {
    color: black;
}


/* Our team section */

.header_section {
    margin: 100px;
    text-align: center;
}

.img-team {
    margin: 10px;
}

.img-team {
    display: block;
    justify-content: center;
    text-align: center;
}

.img-team h3,
.img-team p {
    padding: 5px;
}

.img-circle {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid rgba(80, 64, 64, 0.308);
}

#team .wrap {
    margin: 75px auto 0;
    max-width: 275px;
    padding: 40px 10px;
    background: rgba(80, 64, 64, 0.308);
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
}

#team .img-team {
    margin: -100px 0 0 0;
}

.team-social li {
    display: inline-block;
}

.team-social li a {
    text-decoration: none;
    padding: 5px;
    margin: 50px 0 0 0;
    color: rgb(68, 71, 88);
}

.team-social li a:hover {
    color: rgba(255, 166, 0, 0.795);
    background-color: white;
}


/* cotent */

.img-text {
    padding-top: 10px;
}


/* footer */

.footer {
    background-color: rgba(80, 64, 64, 0.308);
    margin: 30px 0 0 0;
}

.social_container .social_box a {
    margin: 50px 0 20px 0;
}

.contact_items {
    display: flex;
    justify-content: space-around;
}

.info_section .row>div {
    margin-top: 25px;
}

.contact_items a {
    margin-top: 30px;
}

.item {
    display: flex;
    color: black;
}

.item .img-box i {
    padding-right: 10px;
}

.img-box i,
p {
    color: black;
}

.img-box p {
    margin-top: 10px;
}

.contact_items a {
    text-decoration: none;
}

.info_link-box li a {
    text-decoration: none;
    list-style: none;
}

.info_section .info_link-box ul li.active::before,
.info_section .info_link-box ul li:hover::before {
    background-color: rgba(80, 64, 64, 0.308);
}

.info_section .info_link-box ul li {
    list-style-type: none;
    position: relative;
    margin: 10px 0;
}

.info_section .info_link-box ul li::before {
    content: "";
    left: -15px;
    top: 50%;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: transparent;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: 2px solid #ffffff;
}

.info_section .info_link-box ul {
    padding-left: 12px;
}

.info_section .info_link-box ul li a {
    color: black;
    margin-left: 10px;
}

.info_container {
    margin: 40px 0 0 0;
}

.info_container,
.row {
    justify-content: space-between;
}

.info_form input:nth-child(2) {
    font-size: 20px;
    padding: 10px 30px 10px 30px;
    margin: 10px 0 0 0;
    background-color: orange;
    border: none;
}

.info_form input:nth-child(2):hover {
    background-color: rgba(255, 166, 0, 0);
    border: 3px solid #f3a012;
    ;
}


/* ------ map --- */

.custom-map-control-button {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    height: 40px;
    cursor: pointer;
}

#map {
    height: 350px;
    width: 500px;
}

.detail-box {
    height: 100%;
}

#map2 h3 {
    padding: 100px;
    text-align: center;
}